* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/*Animations*/

.loading-frame {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #1b6150, #F2F2F2);
    z-index: 100;
    animation: fadeout 0.5s ease-in forwards;
    animation-delay: 2s;
}
  
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fa-heart:hover {
    font-weight: 700;
    background: linear-gradient(to bottom, white 50%, #9356DC 0%, #FF79DA) top;
    background-size: 100% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: heart 0.5s ease-in-out forwards;
}
  
@keyframes heart {
    from {
        background-position: top;
    }
    to {
        background-position: bottom;
    }
}

.main-content-list .main-entries:nth-child(2) {
    animation: menu 1s linear forwards;
}

.main-content-list .main-entries:nth-child(3) {
    animation: menu 1s linear forwards;
    animation-delay: 0.25s;
}

.main-content-list .main-entries:nth-child(4) {
    animation: menu 1s linear forwards;
    animation-delay: 0.5s;
}

@keyframes menu {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

.main-button {
    min-width: 200px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;  
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition-duration: .25s;
    margin-bottom: 3em;
}

.main-button:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

/*Acceuil*/

.main-header {
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}

.main-header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .action-link {
    width: 4em;
    height: 4em;
}

.main-header.action-link a {
    display: flex;
    color: #333;
    width: 4em;
    height: 4em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .brand {
    flex-grow: 1;
}

.brand {
    font-family: 'shrikhand' ,sans-serif;
}


.main-div {
    display: block;
    text-align: center;
    background-color: #fafafa;
    width: 100%;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    font-size: 1.3em;
    background-color: #f3f3f3 ;
}

.search-form i {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.search-form input {
    width: 10%;
    text-align: center;
    background-color: #f3f3f3 ;
    border: none;
    font-weight: bold;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.main-div h2 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
}

.main-div p {
    font-weight: 300;
    margin-bottom: 3em;
}

.working {
    padding: 20px;
}

.working h2 {
    margin-top: 1em;
}

.main-working {
    display: flex;
    justify-content: space-between;
}

.working ul {
    list-style-type: none;
}

.working li {
    width: 30%;
}

.working-number {
    display: flex;
    position: relative;
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
    margin-top: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.working-number:hover {
    cursor: pointer;
    border-color: #deebff;
    color: #333;
    background-color: rgba(147, 86, 220, 0.15);
}

.working-number:hover i {
    color: #9356DC;
}

.working-number i {
    display: block;
    width: 20px;
    color: #646464;
}

.working-number p {
    font-weight: 600;
    white-space: nowrap;
    flex-grow: 1;
    text-align: center;
}

.working-number-count {
    display: block;
    position: absolute;
    top: 16px;
    left: -10px;
    background-color: #9356DC;
    color: #fff;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 12px;
}

.restaurant {
    display: flex;
    justify-content: space-between;
}

.restaurant-main {
    padding: 0 20px;
    width: 50%;
}

.restaurant-main-list {
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 2em;
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.restaurant-main-list h2 {
    margin-top: 1em;
    width: 100%;
}

.restaurant-main a {
    display: block;
    position: relative;
    height: 250px;
    margin-top: 1.2em;
    text-decoration: none;
    color: #333;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px gainsboro;
}

.restaurant-main img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.restaurant-main-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #99e2d0;
    color: #1b6150;
    font-weight: bold;
}

.restaurant-main h3 {
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: 600;
}

.restaurant-main p {
    margin-left: 0.5em;
}

.restaurant-main i {
    display: flex;
    position: absolute;
    right: 30px;
    bottom: 40px;
    font-size: 20px;
    padding: 1px;
}

.footer {
    background-color: #353535;
    width: 100%;
}

.main-footer-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer-logo {
    color: #fff;
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.2rem;
}

.footer-list {
    list-style-type: none;
}

.footer-list li {
    margin-top: 1em;
}

.footer-list a {
    color: #fff;
    text-decoration: none;
}

.footer-list i {
    width: 1.2rem;
    margin-right: 0.5rem;
}

/*cartes*/

.brand h1 {
    font-size: 2em;
    font-weight: 400;
}


.main-header-photo img {
    max-height: 380px;
    width: 100%;
    object-fit: cover;
}

.main-header-photo- img {
    max-height: 380px;
    width: 100%;
    object-fit: cover;
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.main-content-list {
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 2rem 2rem 0 0;
}

.main-content-list-header {
    display: flex;
    padding: 3em 2em;
}

.main-content-list-header h2 {
    flex-grow: 1;
    font-size: 2em;
    font-family: 'Shrikhand', sans-serif;
}

.main-content-list-header i {
    font-size: 30px;
    cursor: pointer;
    padding: 1px;
}

.main-entries {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
}

.main-entries h3 {
    font-weight: 400;
    margin-bottom: 5px;
}

.main-entries hr {
    width: 50px;
    height: 3px;
    background-color: #99E2D0;
    border: 0;
}

.main-entries-list {
    display: flex;
    background-color: #fff;
    width: 50%;
    border-radius: 12px;
    margin-top: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.main-entries-list:hover {
    cursor: pointer;
}

.main-entries-list:hover .checked {
    width: 80px;
    opacity: 1;
    transition-duration: 0.7s;
}

.main-entries-list:hover .checked i {
    transform: rotate(360deg);
    transition-duration: 0.7s;
}

.main-entries-list div:nth-child(1) {
    flex: 1;
    padding: 10px 15px;
    overflow: hidden;
}


.main-entries-list h4 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-entries-list div div {
    display: flex;
}

.main-entries-list div div span {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-entries-list div div .price {
    font-weight: bold;
    padding: 0 1em;
}

.checked {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    font-weight: 600;
    color: white;
    background-color: #99E2D0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    opacity: 0;
}

.checked i {
    font-size: 1.5em;
}

.order {
    display: flex;
    justify-content: center;
    padding: 1em;
}

@media screen and (max-width: 768px) {
    /*Page d'acceuil*/
    .container {
        width: 100%;
        padding: 0;
    }

    .brand h1 {
        font-size: 1.5em;
        font-weight: 400;
    }

    .main-div h2 {
        font-size: 2em;
    }

    .main-div p {
        font-weight: 300;
        font-size: 20px;
    }

    .search-form input {
        width: 50%;
    }

    .working h2 {
        margin-top: 1.5em;
    }

    .main-working {
        flex-direction: column;
    }

    .working li {
        width: 100%;
    }

    .working-number i {
        width: 40px;
    }

    .working-number p {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }

    .restaurant {
        flex-direction: column;
    }

    .restaurant-main-list {
        flex-direction: column;
    }

    .restaurant-main-list h2 {
        padding: 20px;
    }

    .restaurant-main {
        width: 100%;
        padding: 0;
    }

    .restaurant-main a {
        width: 100%;
        height: 225px;
        box-shadow: 0px 0px 20px 10px #F2F2F2;
    }

    .restaurant-main i {
        right: 10px;
    }

    .main-footer-list {
        padding: 1rem;
    }

    /*Cartes*/

    .brand {
        font-size: 1.3em;
    }
    
    
    .main-header-photo- img {
        max-height: 250px;
    }

    .main-div-logo i {
        left: 5px;
        top: 25px;
    }

    .main-content {
        flex-direction: column;
    }

    .main-entries {
        align-items: baseline;
    }

    .main-entries-list {
        width: 100%;
    }

    .main-entries-list p,
    .main-entries-list h4 {
        margin-bottom: 0.3em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .footer {
        margin-top: -0.5em;  
    }

    .main-footer-list {
        padding: 1rem;
    }
    
}
